<div class="container">

  <app-input-file [image]="model.photo" (select)="selectedFile($event)"></app-input-file>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="model.name"
           type="text"
           required
           placeholder="Preencha o nome do cliente">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="model.email"
           type="email"
           required
           placeholder="Preencha o e-mail do cliente">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width no-margin-right" col-50>
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="model.phone"
           type="text"
           required
           placeholder="Preencha o telefone do cliente">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" col-50 *ngIf="!model.uid">
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)]="model.password"
           type="password"
           required
           placeholder="Informe a nova senha">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width no-margin-right" col-50 *ngIf="!model.uid">
    <mat-label>Confirmação de senha</mat-label>
    <input matInput [(ngModel)]="model.confirmPassword"
           type="password"
           required
           placeholder="Digite a senha novamente">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Opções</mat-label>
    <textarea matInput [(ngModel)]="model.description" placeholder="Descreva a descrição" rows="4"></textarea>
  </mat-form-field>

  <div class="title-divider">
    Endereço
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Endereço</mat-label>
    <input matInput [(ngModel)]="model.address"
           type="text"
           placeholder="Preencha o endereço">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Complemento</mat-label>
    <input matInput [(ngModel)]="model.addressComplement"
           type="text"
           placeholder="Preencha o complemento do endereço">
  </mat-form-field>

  <div class="title-divider">
    Configurações de Atendimento
  </div>

  <div class="container-configuration">
    <div class="card">
      <mat-list dense>
        <mat-list-item>Item adicionado</mat-list-item>
      </mat-list>
    </div>

    <div class="card">
      <mat-list dense>
        <mat-list-item>Item adicionado</mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="toolbar___form">
    <button mat-raised-button routerLink="/service-providers">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
  </div>
</div>
